name: generate
on:
  workflow_dispatch:
permissions:
  contents: read
  packages: write
defaults:
  run:
    shell: bash
jobs:
  release:
    strategy:
      matrix:
        version: [v1, v2]
        image_size: [10MB, 100MB, 1GB]
        layer_count: [1, 4]
    runs-on: ubuntu-latest
    steps:
      - name: Setup benchmark
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 #v2.1.0
        with: 
          repo: spegel-org/benchmark
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 #v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate image
        run: benchmark generate --layer-count ${{ matrix.layer_count }} --image-size "${{ matrix.image_size }}" --image-name ghcr.io/${{ github.repository_owner }}/benchmark:${{ matrix.version }}-${{ matrix.image_size }}-${{ matrix.layer_count }}
      - name: Publish image
        run: docker push ghcr.io/${{ github.repository_owner }}/benchmark:${{ matrix.version }}-${{ matrix.image_size }}-${{ matrix.layer_count }}
